.it-salesperson{
	float: right;
	padding: 0;
	color:#ec108c;
	font-weight:600
}
.it-salesperson-remove{
	color: #39e10a;
}
.it_avatar{
	border-radius: 50%;
	width: 19px;
	height: 19px;
	object-fit: cover;
	margin-right: 4px;
}
.it-add-salesperson{
	color : #8A4277;
	float: right;
	padding: 0;
	font-weight:600
}
.salesperson-list {
    font-size: 16px;
    width: 100%;
}
.salesperson-list tr {
    transition: all 150ms linear;
    background: rgb(230,230,230);
}
.salesperson-list tr:nth-child(2n) {
    background: rgb(247,247,247);
}
.salesperson-list td {
    padding: 12px 8px;
}
/* scrollable content in table */
#table-wrapper {
  position:relative;
}
#table-scroll {
  height:150px;
  overflow:auto;  
}
#table-wrapper table {
  width:100%;
}
