// #top_menu_collapse #top_menu li:not(.o_no_autohide_item){display: none !important;}


header .navbar-brand.logo img{width: 200px !important;}

#top_menu_collapse{
    width: 0%;
    overflow-y: hidden;
    max-width: 100% !important;
    position: fixed !important;
    top: 0px !important;
    height: 100vh !important;
    max-height: 100vh !important;
    left: 0 !important;
    padding: 0 !important;
    z-index: 2000;
    margin: 0px !important;
    transition: all .4s;
}
#top_menu_collapse.show{
    width: 100%;
}
#top_menu_collapse ul#top_menu{
   width: 25%;
position: absolute;
left: 0;
height: 100vh !important;
overflow-y: auto !important;
display: block;
flex-direction: row !important;
padding-bottom: 5rem;
background: #fff;
z-index: 10;
transform: translateX(-100%);
transition: all .4s;
text-align: left !important;
border-right: 1px solid #e8e8e8;
box-shadow: 0 0 30px rgba(0, 0, 0, 0.05);
top: 0px;
padding-top:46px ;
}


.o_main_navbar #top_menu_collapse ul#top_menu{top:46px; padding-top:0px;}









.navbar-collapse.show #top_menu {
    transform: translateX(0) !important;
  }
.navbar-expand-lg .navbar-toggler{display: block !important;}
#top_menu_collapse .cls_sh_menu_close_btn{
    position:absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: transparent;
}

svg{height: 25px;width :25px; z-index: 2 !important;stroke: #222 !important;}

.nav-item.o_no_autohide_item{list-style: none !important;}



.s_text_block{display: none !important;}
.nav-item.dropdown.o_no_autohide_item{list-style: none !important;}
.navbar-toggler.ml-auto{margin-left: 0px !important;}
.oe_structure.oe_structure_solo.ml-lg-4{margin-left: auto !important;}


.navbar #top_menu.o_menu_loading{opacity: 1 !important;}

.navbar-light .navbar-nav .nav-link {
    color: rgba(0, 0, 0, 0.5);
    text-transform: capitalize;
    padding: 10px 25px;
    color: #222;
    transition: 1s;
    font-size: 16px;
}
.nav-item.dropdown.o_extra_menu_items{display: none !important;}
.shadow-sm {
 box-shadow: none !important; 
}
.navbar-light .navbar-nav .nav-link:hover {background:o-color(o-color-1) !important; color: #fff;}
.navbar-light .navbar-nav .nav-link.active{color: #fff !important; position: relative; background: o-color(o-color-1);}


#top_menu_collapse ul#top_menu::-webkit-scrollbar {
    width: 0px;
}

// .nav-item.dropdown.o_no_autohide_item{display:;}
header #top_menu_container{align-items: center;}

.btn.btn-primary.btn_cta{display: none !important;}

@media (max-width:820px) {
    #top_menu_collapse ul#top_menu{width: 40%; top:0px;}
}

@media (max-width:567px) {
    #top_menu_container{flex-wrap: nowrap !important;}
    // .dropdown-toggle.nav-link.font-weight-bold{display: block !important;}
    header .navbar-brand.logo img {width: 100px !important;}
    #top_menu_collapse ul#top_menu {width: 90%;top: 0px;
    
    }
    
}

.navbar-expand-lg .navbar-nav .dropdown-menu{width: 100% !important;}


// social icons / /

.sh_social_text{margin-top: 20px; padding: 20px;}
.social_icons{display: flex;  justify-content: flex-start; align-items: center; padding: 0px 20px;}
.social_icon{margin-right: 20px;}
.social_icon{color:o-color(o-color-1) ;}
.social_icon span{ font-size: 20px;transition: 0.5s; display:flex; justify-content: center; align-items: center; position: relative;overflow: hidden;width: 45px;height: 45px;  border: 2px solid o-color(o-color-1);border-radius: 50px}
.social_icon.icon_1 a{color:#3b5998 ;}
.social_icon.icon_2 a{color:#fb3958 ;}
.social_icon.icon_3 a{color:#38A1F3 ;}
.social_icon.icon_4 a{color:#0077B5 ;}
.sh_social_text_1{padding:0px 20px 0px 20px; margin-top: 40px;}
.sh_contact_details{margin-top:20px; padding:20px; display: flex; align-items: center;}
.sh_contact_details_1 span{margin-right: 20px; font-size: 25px; vertical-align: bottom;}
.sh_contact_details_1 a span:hover{color: o-color(o-color-1);}
.sh_contact_details_1{padding: 10px 20px;display: -webkit-box;display: -webkit-flex;display: flex;align-items: center;}

.sh-hide-auth { display: block; }
.sh-show-auth-mobile { display: none;}
@media (max-width: 567px) {
    .sh-hide-auth {
        display: none !important;
    }  
    .sh-show-auth-mobile{
        display: block;
    }
}