.o_footer .s_text_block{padding-top:70px!important;padding-bottom:60px!important}
.o_footer .s_text_block .widget-title{text-transform:uppercase;color:o-color('o-color-1');text-transform:none;font-size:19px;margin-bottom:1.5rem;font-weight:600;position:relative}
.o_footer .s_text_block .widget-title:before{content:'';border-bottom:2px solid o-color('o-color-1');position:absolute;bottom:-12px;left:0;width:30px}
.o_footer .s_text_block .widget_text .textwidget li{list-style:none}
.o_footer .s_text_block .widget_text .textwidget ul{border-width:0;padding:0;margin:0}
.o_footer .s_text_block .widget_text .textwidget .text-primary{color:o-color('o-color-1')}
.o_footer .s_text_block .widget_text .textwidget a:hover{color:o-color('o-color-1');text-decoration:none}
.o_footer .s_text_block .contact-details{padding:0}
.o_footer .s_text_block .contact-details li{list-style:none;margin-bottom:5px}
.o_footer .s_text_block span a{text-decoration:none}
.o_footer .s_text_block span a:hover{color:o-color('o-color-1')}
.o_footer .s_text_block .share-links a span:hover{background:o-color('o-color-1')}
.o_footer .s_text_block .share-links a span{text-align:center;width:48px;height:48px;line-height:48px;box-shadow:none;background:#2a2e30;color:#fff;border-radius:50%}
.o_footer .s_text_block .share-links a.btn-sm{padding:.0625rem 0rem}
.o_footer .s_text_block .share-links a i{text-align:center;width:48px;height:48px;line-height:48px;box-shadow:none;background:#2a2e30;color:#fff;border-radius:50%;font-size:12px}
.o_footer .s_text_block .share-links a i:hover{background:#5967ef}
.o_footer_copyright.o_colored_level.o_cc{
    display: none;
 }

 @media only  screen and (max-width:567px) {
    .o_footer .s_text_block .share-links a span{
     width: 40px;
    height: 40px;
    line-height: 40px;
    }
 }