#sh_footer21{width: 100%; padding:100px 0px; height:550px; background: url('/sh_corpomate_theme/static/src/img/theme_21/image/footer.jpg'); background-size: cover; background-position:bottom; z-index: 1;}
#sh_footer21:after{position: absolute; top:0; left:0; height:100%; width:100%; background: rgba(0,0,0,0.7); content: ''; z-index: -1;}
#sh_footer21 h3{color: #fff; text-align: center; margin-top: 30px; font-size: 15px; text-transform: uppercase; letter-spacing: 5px;}
#sh_footer21 h2{font-size: 40px; color: #fff; text-align: center; font-weight:600; margin-top:30px;}
#sh_footer21 .sh_btn{margin-top:50px; text-align: center;}
#sh_footer21 .sh_btn a{color: #fff; font-weight: 600; transition:0.5s; text-decoration: none !important; padding:12px 30px; border-radius:30px; background: #fe5b4a; box-shadow: 0 7px 25px rgba(255,91,74,0.2); border: 1px solid #fe5b4a;}
#sh_footer21 .sh_btn a:hover{background:#fd4431;}
#sh_footer21 .sh_footer_navbar{margin-top:80px; border-top:1px solid #fff; border-bottom:1px solid #fff; padding:20px 0px; display: flex; align-items: center; justify-content: space-between;}
#sh_footer21 .sh_footer_navbar .sh_footer_menu ul{margin:0; padding:0; display:flex; padding-left: 20px;}
#sh_footer21 .sh_footer_navbar .sh_footer_menu ul li{margin-right:25px; list-style-type: none;}
#sh_footer21 .sh_footer_navbar .sh_footer_menu ul li a{color: #fff; text-decoration: none; transition: 0.5s;}
#sh_footer21 .sh_footer_navbar .sh_footer_menu ul li a:hover{color: #fd4431;}

#sh_footer21 .sh_footer_navbar .sh_social_icons{float: right; display: flex; align-items: center;}
#sh_footer21 .sh_footer_navbar .sh_social_icons .sh_sc_icon{margin-right:20px;}
#sh_footer21 .sh_footer_navbar .sh_social_icons .sh_sc_icon a{color: #fff; font-size: 18px; font-weight: 600; transition: 0.5s;}
#sh_footer21 .sh_footer_navbar .sh_social_icons .sh_sc_icon a:hover{color: #fd4431;}



@media (max-width:567px) {
    #sh_footer21 .sh_footer_navbar .sh_social_icons{margin-top:20px;}
    #sh_footer21 .sh_footer_navbar .sh_footer_menu ul li{margin-right: 15px;}
    #sh_footer21 .sh_footer_navbar{flex-direction: column;}
    #sh_footer21 h2{font-size: 30px;}
    #sh_footer21{padding:50px 0px ;}
    #sh_footer21 .sh_footer_navbar .sh_social_icons .sh_sc_icon{margin-right: 30px;}
}











.o_footer_copyright.o_colored_level.o_cc{
    display: none;
 }








